[hls]

clock=3.3
flow_target=vivado
syn.file=$CUR_DIR/src/match_template.cpp
syn.file_cflags=$CUR_DIR/src/match_template.cpp, -I ${XF_PROJ_ROOT}/L1/include -I ./ -D__SDSVHLS__ -std=c++0x
syn.file_csimflags=$CUR_DIR/src/match_template.cpp, -I -I${XF_PROJ_ROOT}/L1/include -I ./ -D__SDSVHLS__ -std=c++0x
syn.top=match_template
tb.file=$CUR_DIR/tb/testbench.cpp
tb.file_cflags=$CUR_DIR/tb/testbench.cpp, -I${OPENCV_INCLUDE} -I${XF_PROJ_ROOT}/L1/include -I ./ -D__SDSVHLS__ -std=c++0x
tb.file_csimflags=$CUR_DIR/tb/testbench.cpp, -I${XF_PROJ_ROOT}/L1/include -I ./ -D__SDSVHLS__ -std=c++0x

csim.ldflags=-L ${OPENCV_LIB} -lopencv_imgcodecs -lopencv_imgproc -lopencv_core -lopencv_highgui -lopencv_flann -lopencv_features2d
cosim.ldflags=-L ${OPENCV_LIB} -lopencv_imgcodecs -lopencv_imgproc -lopencv_core -lopencv_highgui -lopencv_flann -lopencv_features2d

vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog
sim.ldflags=-L ${OPENCV_LIB} -lopencv_imgcodecs -lopencv_imgproc -lopencv_core -lopencv_highgui -lopencv_flann -lopencv_features2d